body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(32, 33, 36);
  color: #fff;
  overflow-x: hidden;
}

h1,
h2 {
  margin: 0;
}

#landing-page {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  /* border: 1px solid red; */
}

.hero-text-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  position: relative;
}

.hero-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}

.hero-text-container h1 {
  font-size: 70px;
  font-weight: 300;
}

.hero-text-name-container h2 {
  font-size: 48px;
  display: inline;
  font-weight: 300;
}

.hero-text-container p {
  font-size: 32px;
  color: #b6afaf;
  margin-top: 20px;
}

.hero-text-name {
  color: #da0037;
}

#canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.ascent-circle-lines {
  position: absolute;
  bottom: 5%;
  left: -10%;
}

.ascent-circle {
  position: absolute;
  top: -15%;
  right: -5%;
}

.hero-cta {
  position: absolute;
  position: fixed;
  bottom: 10%;
  width: 100%;

  /* bring your own prefixes */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  animation: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.hero-cta > span {
  color: #da0037;
  font-weight: bold;
  padding-bottom: 10px;
}

#about {
  background: white;
}

/* animation */
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
